<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followers.count,followers_user_path(user) %></th>
  </tr>
   <tr>
     <th>follows</th>
    <th><%= link_to user.followed.count,followed_user_path(user) %></th>
  </tr>
</table>

<div class='row'>
  <% if current_user == user %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
     <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>

  <% unless current_user == user %>
    <% if current_user.following?(user) %>
    　<%= link_to user_relationships_path(user),method: :delete do %>
         <button type="button" class="btn btn-info">フォロー外す</button>
      <% end %>
      <% else %>
      <%= link_to user_relationships_path(user),method: :post do %>
         <button type="button" class="btn btn-primary">フォローする</button>
      <% end %>
     <% end %>
  <% end %>
</div>